$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$footer-color: #353535;
$shadow: rgba(63,63,63,0.64);
$box-shadow: 0px 7px 10px -6px $shadow;
* {
    font-family: 'Roboto', 'Arial', 'sans-serif';
}

body {
    margin: 0em;
}

a {
    text-decoration: none;
}
@mixin header {
    padding: 1.4em 0 0.4em 0;
    text-align: center;
    &__icon-link {
        position: absolute;
        left: 1.5em;
        top: 1.6em;
        &__element {
            color: black;
            font-size: 1.3em;
        }
    }
    &__logo-link__img {
        width: 10em;
    }
}

.header {
@include header;
}

@mixin footer {
    background-color: $footer-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5em 0 1.5em 1em;   
        &__img {
            width: 6em;
            filter: invert(100%);
        }
        &__container {
            margin: 0.4em 0 0 0;        
            &__a {
                color: white;
            }
            .fa-hands-helping {
                font-size: 70%;
            }
    }
}

.footer {
@include footer;
}
.dfdsfd {
    margin: 1em;
}