@import "./Utils/Variables.scss";
@import "./Utils/mixins.scss";
@import "./Composants/buttons.scss";
@import "./Layout/header.scss";
@import "./Layout/footer.scss";
@import "./Layout/section-menu.scss";
@import "./Layout/loading-spinner.scss";
@import "./Pages/accueil.scss";
@import "./Pages/menu.scss";


* {
    font-family: 'Roboto', 'Arial', 'sans-serif';
}

body {
    margin: 0em;
    display: flex;
    flex-direction: column;
}

h4 {
    color: black;
}
a {
    text-decoration: none;
}



/* Rajouter à l'include ".btn-link__text::after { content: "";} */

/* revoir la width pour l'adapter mobile/desktop si il faut et faire l'animation */


.container-restaurants {
    @include desktop {
        display: flex;
        justify-content: center;
    }
    @include tablette {
        display: flex;
        justify-content: center;
    }
}
.image-1 {
    background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    display: flex;
    justify-content: flex-end;
}
.image-1:after {
    content: "Nouveau";
    background-color: darken($color-tertiary, 10%);
    color: darken($color-tertiary, 40%);
    position: relative;
    height: 15px;
    width: 60px;
    top: 10px; left: -10px;
    padding: 5px 10px 10px 10px;
    border-radius: 3px;
}
.image-2 {
    background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    display: flex;
    justify-content: flex-end;
}
.image-2:after {
    content: "Nouveau";
    background-color: darken($color-tertiary, 10%);
    color: darken($color-tertiary, 40%);
    position: relative;
    height: 15px;
    width: 60px;
    top: 10px; left: -10px;
    padding: 5px 10px 10px 10px;
    border-radius: 3px;
}
.image-3 {
    background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.image-4 {
    background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.vignette-center {
    display: flex;
    justify-content: center;
    @include desktop {
        width: 30%;
    }
    @include tablette {
        width: 45%;
    }
}

















