$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$footer-color: #353535;
$shadow: rgba(63,63,63,0.64);
$box-shadow: 0px 7px 10px -6px $shadow;
* {
    font-family: 'Roboto', 'Arial', 'sans-serif';
}

body {
    margin: 0em;
}

a {
    text-decoration: none;
}
@mixin header {
    padding: 1.4em 0 0.4em 0;
    text-align: center;
    &__icon-link {
        position: absolute;
        left: 1.5em;
        top: 1.6em;
        &__element {
            color: black;
            font-size: 1.3em;
        }
    }
    &__logo-link__img {
        width: 10em;
    }
}

.header {
@include header;
}

@mixin footer {
    background-color: $footer-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5em 0 1.5em 1em;   
        &__img {
            width: 6em;
            filter: invert(100%);
        }
        &__container {
            margin: 0.4em 0 0 0;        
            &__a {
                color: white;
            }
            .fa-hands-helping {
                font-size: 70%;
            }
    }
}

.footer {
@include footer;
}

@mixin bouton-degrade {
    text-align: center;
    &__text {
        color: white;
        background: linear-gradient($color-secondary, $color-primary); 
        border-radius: 2em;
        border: none;
        font-size: 1em;
        padding: 0.94em 1.3em 0.94em 1.3em;
        margin: 1em 0 1em 0;
        display: inline-block;
        box-shadow: $box-shadow;
        position: relative;
        &:hover {
            cursor: pointer;
            &::after {
                opacity: 1;
            }
        }
        &::after {
            opacity: 0;
            transition: opacity 400ms;
            background: linear-gradient(darken($color-secondary, 10), darken($color-primary, 10));
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 2em;
            font-size: 1em;
            padding: 0.94em 1.3em 0.94em 1.3em;
        }
    }
}
/* Rajouter à l'include ".btn-link__text::after { content: "";} */
.btn-link {
    @include bouton-degrade;
    &__text::after { 
        content: "Explorer nos restaurants";
    }
}
/*
opacity: 0;
transition: opacity 400ms;
background: linear-gradient(darken($color-secondary, 10), darken($color-primary, 50)); */