@keyframes loading-spinner {
    0% {
        opacity: 0.85;        
    }
    90% {
        opacity: 0.85;
    }
    100% {
        opacity: 0;
    }
}
@keyframes loading-spinner-background {
    0% {
        opacity: 1;
        visibility: visible;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.loading-spinner-visibility {
    position: fixed;
    height: 100%;
    width: 100%;
    animation: loading-spinner-background 2700ms forwards;
    background-color: white;
    z-index: 10000;
}
.loading-spinner {
    position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    &-1 {
        border-left: 8px solid $color-primary;
        border-right: 8px solid $color-tertiary;
        border-radius: 30em;
        height: 10em;
        width: 10em;
        position: fixed;
        z-index: 1000;
        animation: spinner-1 3000ms cubic-bezier(0,0,1,1) forwards;
    }
    &-2 {
        border-left: 6px solid $color-secondary;
        border-right: 6px solid $color-primary;
        border-radius: 30em;
        height: 15em;
        width: 15em;
        position: fixed;
        z-index: 1000;
        animation: spinner-2 3000ms cubic-bezier(0,0,1,1) forwards;
    }
    &-3 {
        border-right: 3px solid $color-tertiary;
        border-left: 3px solid $color-secondary;
        border-radius: 30em;
        height: 20em;
        width: 20em;
        position: fixed;
        z-index: 1000;
        animation: spinner-3 3000ms cubic-bezier(0,0,1,1) forwards;
    }
}

@keyframes spinner-1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(720deg);
    }
}
@keyframes spinner-2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(1200deg);
    }
}
@keyframes spinner-3 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(1800deg);
    }
}