@charset "UTF-8";
* {
  font-family: "Roboto", "Arial", "sans-serif";
}

body {
  margin: 0em;
  display: flex;
  flex-direction: column;
}

.h2-menu {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
  margin: 0 0 0.2em 1em;
}

h4 {
  color: black;
}

a {
  text-decoration: none;
}

.body-accueil {
  animation: loading-spinner 3000ms ease-in-out forwards;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
}

@keyframes loading-spinner {
  0% {
    opacity: 0.85;
  }
  90% {
    opacity: 0.85;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-spinner-background {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading-spinner-visibility {
  position: fixed;
  height: 100%;
  width: 100%;
  animation: loading-spinner-background 2700ms forwards;
  background-color: white;
  z-index: 10000;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}
.loading-spinner-1 {
  border-left: 8px solid #9356DC;
  border-right: 8px solid #99E2D0;
  border-radius: 30em;
  height: 10em;
  width: 10em;
  position: absolute;
  z-index: 1000;
  animation: spinner-1 3000ms cubic-bezier(0, 0, 1, 1) forwards;
  top: 19em;
}
.loading-spinner-2 {
  border-left: 6px solid #FF79DA;
  border-right: 6px solid #9356DC;
  border-radius: 30em;
  height: 15em;
  width: 15em;
  position: absolute;
  z-index: 1000;
  animation: spinner-2 3000ms cubic-bezier(0, 0, 1, 1) forwards;
  top: 16.5em;
}
.loading-spinner-3 {
  border-right: 3px solid #99E2D0;
  border-left: 3px solid #FF79DA;
  border-radius: 30em;
  height: 20em;
  width: 20em;
  position: absolute;
  z-index: 1000;
  animation: spinner-3 3000ms cubic-bezier(0, 0, 1, 1) forwards;
  top: 14em;
}

@keyframes spinner-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes spinner-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1200deg);
  }
}
@keyframes spinner-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.titre-accueil {
  background-color: #f6f6f6;
  padding-bottom: 2em;
}

.h1-accueil {
  text-align: center;
  padding: 1em 2em 0em 2em;
}
@media screen and (min-width: 1025px) {
  .h1-accueil {
    font-size: 2em;
  }
}
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .h1-accueil {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 600px) {
  .h1-accueil {
    font-size: 1.5em;
  }
}

.p-titre {
  text-align: center;
  color: #353535;
  padding: 0 0.5em 0 0.5em;
}

@media screen and (min-width: 1025px) {
  .h2-accueil {
    font-size: 2em;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .h2-accueil {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .h2-accueil {
    margin-left: 16px;
  }
}

.header {
  padding: 1.4em 0 0.4em 0;
  text-align: center;
  box-shadow: 0px 4px 10px -6px rgba(89, 89, 89, 0.64);
}
.header__icon-link {
  position: absolute;
  left: 1.5em;
  top: 1.6em;
}
.header__icon-link__element {
  color: black;
  font-size: 1.3em;
}
.header__logo-link__img {
  width: 10em;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 1.5em 0 1.5em 1em;
}
.footer__img {
  width: 6em;
  filter: invert(100%);
}
.footer__container {
  padding: 0.4em 0 0 0;
}
.footer__container__a {
  color: white;
}
.footer__container .fa-hands-helping {
  font-size: 70%;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  color: #353535;
  padding: 1em 0 1em 0;
  z-index: -1;
  position: relative;
  font-weight: bold;
}

.fa-map-marker-alt {
  margin-right: 1em;
}

/* Rajouter à l'include ".btn-link__text::after { content: "";} */
.btn-link {
  text-align: center;
}
.btn-link__text {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 2em;
  border: none;
  font-size: 1em;
  padding: 0.94em 1.3em 0.94em 1.3em;
  margin: 1em 0 1em 0;
  display: inline-block;
  box-shadow: 0px 7px 10px -6px rgba(63, 63, 63, 0.64);
  position: relative;
}
.btn-link__text:hover {
  cursor: pointer;
}
.btn-link__text:hover::after {
  opacity: 1;
}
.btn-link__text::after {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  background: linear-gradient(#ff93e1, #a16be0);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2em;
  font-size: 1em;
  padding: 0.94em 1.3em 0.94em 1.3em;
  box-shadow: 0 7px 17px -6px rgba(63, 63, 63, 0.64);
}
.btn-link__text::after {
  content: "Explorer nos restaurants";
}

/* revoir la width pour l'adapter mobile/desktop si il faut et faire l'animation */
.section-restaurants {
  background-color: #f6f6f6;
}

@media screen and (min-width: 1025px) {
  .container-restaurants {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .container-restaurants {
    display: flex;
    justify-content: center;
  }
}

.image-1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.image-2 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.image-3 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.image-4 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.container-vignette {
  border-radius: 1em;
  justify-content: center;
  box-shadow: 0px 7px 10px -6px rgba(63, 63, 63, 0.64);
  margin: 1em;
  background-color: white;
  width: 100%;
}
.container-vignette__background {
  background-size: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-position: center center;
}
@media screen and (max-width: 600px) {
  .container-vignette__background {
    width: 100%;
    height: 10em;
  }
}
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .container-vignette__background {
    width: 100%;
    height: 10em;
  }
}
@media screen and (min-width: 1025px) {
  .container-vignette__background {
    width: 100%;
    height: 15em;
  }
}
.container-vignette__background__image {
  display: none;
}
.container-vignette__text {
  display: flex;
  justify-content: space-between;
}
.container-vignette__text__title {
  padding: 0.7em 0 0 0.5em;
  font-weight: bold;
  color: black;
}
.container-vignette__text__paragraphe {
  padding: 0.4em 0 0.5em 0.5em;
  color: black;
}
.container-vignette__text__icon1 {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5em;
  color: #7e7e7e;
  right: 0.5em;
  top: 0.7em;
}
.container-vignette__text__icon1:hover {
  color: transparent;
}
.container-vignette__text__icon2 {
  position: relative;
  top: 0;
  bottom: 0;
  left: -28px;
  right: 0;
  font-size: 1.5em;
  right: 0.5em;
  top: 0.7em;
  transition: opacity 400ms ease-in-out;
  opacity: 0;
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
}
.container-vignette__text__icon2:hover {
  opacity: 1;
}

.vignette-center {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1025px) {
  .vignette-center {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .vignette-center {
    width: 45%;
  }
}

.fonctionnement {
  display: flex;
}
@media screen and (min-width: 1025px) {
  .fonctionnement {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .fonctionnement {
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .fonctionnement {
    align-items: center;
    flex-direction: column;
  }
}

.section-fonctionnement {
  padding-bottom: 3em;
}

.fonctionnement__tuto {
  display: flex;
  padding: 2.2em 1.4em 2.2em 2em;
  background-color: #f0eeee;
  width: 250px;
  border-radius: 1em;
  box-shadow: 0 7px 10px -6px rgba(152, 152, 152, 0.64);
  position: relative;
  color: #7e7e7e;
  margin: 1em;
}
.fonctionnement__tuto::before {
  transition: opacity 400ms ease-in-out;
  background-color: #e4d5f6;
  opacity: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 1em;
}
.fonctionnement__tuto:hover {
  color: #9356DC;
}
.fonctionnement__tuto:hover::before {
  opacity: 1;
}
.fonctionnement__tuto__number {
  left: -0.7em;
  top: 1.35em;
  position: absolute;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin-right: 1em;
  background-color: #9356DC;
  border-radius: 2em;
  color: white;
}
.fonctionnement__tuto__icon {
  font-size: 1.2em;
  top: 1.15em;
  padding: 0 1em 0 0;
  left: 1.7em;
  position: absolute;
}
.fonctionnement__tuto__text {
  font-weight: bold;
  position: absolute;
  left: 4em;
  top: 0.3em;
}

.body-menu {
  background-color: transparent;
}

.background-1 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 20em;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  position: relative;
}

.section-menu {
  background-color: #f6f6f6;
}

.menu-titre {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  margin-top: -2em;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
}
.menu-titre__h1 {
  font-style: inherit;
  font-family: "Shrikhand", "Arial", "sans-serif";
}

.heart-menu1 {
  position: relative;
  top: 0.8em;
  font-size: 1.8em;
}

.heart-menu2 {
  position: relative;
  top: 0.8em;
  left: -1.14em;
  font-size: 1.8em;
}

#commander::after {
  content: "Commander";
}

.container-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.btn-menu {
  background-color: white;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  width: 350px;
  box-shadow: 0px 7px 10px -6px rgba(63, 63, 63, 0.64);
  overflow: hidden;
}
.btn-menu:hover {
  cursor: pointer;
}
.btn-menu__animate {
  position: relative;
  transition: transform 800ms ease-in-out;
  transform: translateX(4.5em);
  width: 20%;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-menu:hover > .btn-menu__animate {
  transform: translateX(0.2em);
}
.btn-menu__left__title {
  display: block;
  padding: 1em 0 0 1em;
}
.btn-menu__left__text {
  margin: 0;
  padding: 0.5em 0 1em 1em;
}

.icon__animate {
  width: 350px;
}
.icon__animate:hover .icon__animate__rotate {
  transform: rotate(360deg);
}
.icon__animate__rotate {
  transition: 800ms 200ms ease-in-out;
  transform: rotate(0);
  color: white;
  font-size: 1.3em;
}

.price__animate {
  width: 350px;
}
.price__animate:hover .btn-menu__right {
  transform: translateX(1em);
}

.btn-menu__right {
  transition: transform 800ms ease-in-out;
  transform: translateX(5em);
  display: flex;
  align-items: flex-end;
  padding-bottom: 1em;
  font-weight: bold;
}

.line {
  background-color: #99E2D0;
  width: 41px;
  height: 3px;
  margin: 0 0 1em 1em;
}

.container-menu {
  margin-bottom: 3em;
  animation: entrees 800ms ease-in-out both;
}

.container-menu-2 {
  margin-bottom: 3em;
  animation: entrees 800ms 800ms ease-in-out both;
}

.container-menu-3 {
  margin-bottom: 3em;
  animation: entrees 800ms 1600ms ease-in-out both;
}

@keyframes entrees {
  0% {
    opacity: 0;
    transform: translateY(5em);
  }
  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}

/*# sourceMappingURL=style.css.map */
