.btn-link {
    text-align: center;
    &__text::after { 
        content: "Explorer nos restaurants";
    }
    &__text {
        color: white;
        background: linear-gradient($color-secondary, $color-primary); 
        border-radius: 2em;
        border: none;
        font-size: 1em;
        padding: 0.94em 1.3em 0.94em 1.3em;
        margin: 1em 0 1em 0;
        display: inline-block;
        box-shadow: $box-shadow;
        position: relative;
        &:hover {
            cursor: pointer;
            &::after {
                opacity: 1;
            }
        }
        &::after {
            opacity: 0;
            transition: opacity 400ms ease-in-out;
            background: linear-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 2em;
            font-size: 1em;
            padding: 0.94em 1.3em 0.94em 1.3em;
            box-shadow: 0 7px 17px -6px $shadow;
        }
    }
}
#commander::after { 
    content: "Commander";
}

